@import "styles/variables.scss";

.auth-side-banner {
  position: relative;
  height: 100vh;

  .background-img {
    @include background-cover;
  }

  .background-overlay {
    @include background-cover;
    background: rgba(#000, 0.55);
    backdrop-filter: blur(1.5px);
    z-index: 1;
  }
}
