@import "styles/variables.scss";

.user-profile {
  @include flex-row-end-nowrap;

  .user-icon {
    font-size: toRem(24);
  }

  .user-name {
    @include font-height(14.5, 20);
    letter-spacing: 0.02em;

    @include breakpoint-down(lg) {
      @include font-height(14, 22);
    }
  }

  .icon {
    position: relative;
    top: 1px;
  }
}
