@import "styles/variables.scss";

%active-nav {
  background: $brand-grey-light;
  border-right: toRem(3) solid $brand-blue;
  color: $brand-blue !important;
}

.nav-item {
  @include flex-row-start-nowrap;
  padding: toRem(11) toRem(25);
  @include transition(0.4s);
  color: $brand-black-light;

  .nav-icon {
    margin-right: toRem(15);
    font-size: toRem(20);
  }

  .nav-text {
    text-transform: capitalize;
    font-size: toRem(14.25);
  }

  &:hover {
    @extend %active-nav;
  }

  &-active {
    @extend %active-nav;

    .nav-text {
      font-weight: 600;
    }
  }
}

.active {
  @extend %active-nav;

  .nav-text {
    font-weight: 600;
  }
}
