@import "styles/variables.scss";

.notes-block-content {
  position: relative;
  width: 100%;
  column-count: 4;
  column-gap: 0;

  @include breakpoint-down(lg) {
    column-count: 3;
  }

  @include breakpoint-down(sm) {
    column-count: 2;
  }

  @include breakpoint-custom-down(400) {
    column-count: 1;
  }
}
