@import "styles/variables.scss";

.topbar-build {
  @include flex-row-between-nowrap;
  // border-bottom: toRem(1) solid rgba($brand-grey, .35);

  .burger-menu {
    @include rectangle-shape(25, 16);
    position: relative;
    //   display: none;

    .line {
      background: $brand-black-light;
      position: absolute;
      width: 100%;
      height: 2px;
    }

    .line-one {
      top: 0;
    }

    .line-two {
      transform: translateY(-50%);
      top: 50%;
    }

    .line-three {
      bottom: 0;
    }

    @include breakpoint-down(md) {
      display: unset;
    }
  }

  .user-profile {
    @include flex-row-end-nowrap;

    .profile-details {
      @include flex-row-end-nowrap;

      .user-name {
        @include font-height(14.5, 20);
        letter-spacing: 0.02em;

        @include breakpoint-down(lg) {
          @include font-height(14, 22);
        }
      }

      .icon {
        position: relative;
        top: 1px;
      }
    }
  }
}
