// ANIMATIONS
@keyframes panel-slide-down {

    0%,
    30% {
        margin-top: -20px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes panel-slide-up {

    0%,
    30% {
        margin-bottom: -30px;
        opacity: 0;
    }

    to {
        margin-bottom: 0;
        opacity: 1;
    }
}

@keyframes panel-slide-right {

    0%,
    30% {
        margin-top: -30px;
        margin-right: -25px;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes panel-slide-left {

    0%,
    30% {
        margin-top: -30px;
        margin-left: -25px;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-left {

    0%,
    30% {
        margin-left: -40px;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slide-right {

    0%,
    30% {
        margin-right: 40px;
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}

// SPINNER ICON
@keyframes spin-icon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loading Animation */
@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

// ZOOM OUT 
@keyframes zoom-out {
    0% {
        transform: translate(-50%, -50%) scale(.45);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.05);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes pulse {
    0% {
      transform: scale(2.5);
    }
    50% {
      transform: scale(0.25);
    }
    100% {
      transform: scale(1);
    }
}

.pulse-animate {
    -webkit-animation: pulse 1.5s linear infinite;
    -moz-animation: pulse 1.5s linear infinite;
    -ms-animation: pulse 1.5s linear infinite;
    animation: pulse 1.5s linear infinite;
}

.animate {
    animation: spin-icon 1.5s linear infinite;
    transform-origin: center;
    transform-box: fill-box;
}