@font-face {
  font-family: "Macondo";
  src: local(Macondo);
}

@font-face {
  font-family: "Source Sans Pro";
  src: local(Source Sans Pro);
}

$stylish_font: "Macondo", cursive;
$body_font: "Source Sans Pro", sans-serif;

body {
  font-family: $body_font;
  font-display: fallback;
}

.stylish-font {
  font-family: $stylish_font;
  font-display: fallback;
}
