@import "styles/variables.scss";

.user-profile {
  @include flex-row-end-nowrap;
  @include transition(0.4s);
  position: relative;

  .avatar {
    position: relative;
    @include square-shape(32);
    background: $color-green;
    margin-right: toRem(7);

    @include breakpoint-down(sm) {
      margin-right: 0;
    }

    .avatar-text {
      @include center-placement;
      font-size: toRem(13.25);
      color: $color-white;
    }
  }

  .user-name {
    @include font-height(14.5, 20);

    @include breakpoint-down(xl) {
      @include font-height(14, 22);
    }

    @include breakpoint-down(lg) {
      @include font-height(13.75, 21);
    }

    @include breakpoint-down(sm) {
      display: none;
    }
  }

  .icon {
    @include transition(0.15s);
    position: relative;
    top: 1px;

    @include breakpoint-down(sm) {
      display: none;
    }
  }
}

.menu-wrapper {
  @include fixed-display-area;

  @include breakpoint-down(sm) {
    z-index: 9;
    @include transition(0.5s);
    background: rgba(#000, 0.3);
  }
}

.menu {
  background: $color-ash-white;
  position: absolute;
  width: toRem(120);
  right: toRem(-3);
  top: toRem(35);
  display: none;
  z-index: 1;
  box-shadow: toRem(1) toRem(1) toRem(3) toRem(1) rgba($color-black, 0.15);
  transition: display 0.4s ease-in-out;

  @include breakpoint-down(sm) {
    position: fixed;
    top: unset;
    left: 0;
    bottom: -100%;
    width: 100%;
    background: $color-green;
    padding: toRem(14);
    display: flex !important;
    flex-flow: row nowrap;
    justify-content: space-around;
    @include transition(0.4s);
    z-index: 99;
  }

  .item {
    @include flex-row-start-nowrap;
    padding: toRem(7) toRem(10);
    font-size: toRem(12.75);
    cursor: pointer;
    color: $color-black;

    &:hover {
      background: $color-green-lighter;

      @include breakpoint-down(sm) {
        border-radius: toRem(20);
        background: darken($color-green, 5%);
      }
    }

    @include breakpoint-down(sm) {
      @include flex-row-center-nowrap;
      padding: toRem(10) toRem(13);
      font-size: toRem(12.5);
      color: $color-white;
      width: 48%;

      &:first-of-type {
        background: rgba($color-red-light, 0.25);
        border-radius: toRem(20);
      }

      &:last-of-type {
        background: darken(rgba($color-red, 0.65), 7%);
        border-radius: toRem(20);
      }
    }
  }
}

.show-menu {
  display: unset;

  @include breakpoint-down(sm) {
    bottom: 0;
  }
}
