@import "styles/variables.scss";

.title-holder {
  @include flex-row-between-nowrap;
  margin: toRem(18) 0 toRem(23);

  .left-wrapper {
    width: toRem(270);

    @include breakpoint-down(sm) {
      width: 100%;
    }
  }

  .btn-wrapper {
    background: lighten($color-green, 12%);
    @include square-shape(60);
    border-radius: 50%;
    position: fixed;
    bottom: toRem(40);
    right: toRem(30);
    z-index: 99;

    .icon {
      font-size: toRem(24);
    }
  }
}
