@import "styles/variables.scss";

.nav-item {
  @include flex-row-start-nowrap;
  transition: unset !important;
  padding: 0 0 0 toRem(12);
  width: 102.75%;

  .wrapper {
    @include flex-row-start-nowrap;
    border-radius: toRem(30);
    padding: toRem(12);

    .nav-icon {
      color: rgba($color-brown-light, 0.8);
      @include transition(0.45s);
      margin-right: toRem(15);
      font-size: toRem(18.25);
    }

    .nav-text {
      color: rgba($color-grey-light, 0.95);
      text-transform: capitalize;
      font-size: toRem(14.25);
    }
  }

  &:hover {
    width: 100%;

    .wrapper {
      background: rgba($color-white, 0.65);
      position: relative;
      z-index: 9;

      @extend %icon-text-styles;
    }
  }
}

.active {
  width: 102.75% !important;

  .wrapper {
    background: $color-white !important;
    border-radius: toRem(30) 0 0 toRem(30);
    position: relative;

    .curve {
      background: $color-white;
      position: absolute;
      height: toRem(40);
      width: 10%;
      right: 0;

      &::before {
        content: "";
        background: $color-green;
        @include full-width-height;
        border-bottom-right-radius: toRem(30);
      }

      &-top {
        top: toRem(-40);

        &::before {
          border-bottom-right-radius: toRem(30);
        }
      }

      &-bottom {
        bottom: toRem(-40);
        border-bottom-right-radius: toRem(30);

        &::before {
          border-top-right-radius: toRem(30);
        }
      }
    }

    @extend %icon-text-styles;
  }
}

%icon-text-styles {
  .nav-icon {
    margin-left: toRem(5);
    color: $color-green;
  }

  .nav-text {
    font-weight: 600;
    color: $color-ash;
  }
}
