@import "styles/variables.scss";

.topbar-build {
  padding: 0 toRem(26);
  position: fixed;
  top: toRem(10.5);
  z-index: 99;
  width: 81%;

  @include breakpoint-down(lg) {
    width: 76.8%;
    padding: 0 toRem(15);
  }

  @include breakpoint-down(md) {
    width: 98.5%;
    padding: 0 toRem(9);
  }

  @include breakpoint-down(sm) {
    padding: 0 toRem(6.5);
    top: toRem(7);
    width: 96.65vw;
  }

  .wrapper {
    border-bottom: toRem(1) solid $color-grey-light;
    @include flex-row-between-wrap;
    padding: toRem(14) toRem(2);

    @include breakpoint-down(lg) {
      padding: toRem(9) toRem(1);
    }

    .menu-block {
      display: none;

      @include breakpoint-down(md) {
        @include rectangle-shape(27.5, 18.5);
        position: relative;
        display: unset;
      }

      .line {
        background: $color-green;
        @include transition(0.35s);
        position: absolute;
        height: toRem(2.25);
        width: 100%;
        left: 0;
        border: 1px solid $color-green;

        &-one {
          top: 0;
        }

        &-two {
          top: 50%;
        }

        &-three {
          top: 100%;
        }
      }
    }

    .title-text {
      position: relative;
      top: toRem(4);
      font-size: toRem(15);
      @include transition(0.4s);

      @include breakpoint-down(sm) {
        top: 0;
      }
    }
  }
}
