@import "styles/variables.scss";

.dashboard-area {
  .overview-area {
    @include flex-row-between-nowrap;
    align-items: flex-start;
    overflow: auto;
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    @include breakpoint-down(sm) {
      margin-bottom: toRem(15) !important;
    }
  }

  .project-todo-overview {
    @include flex-row-between-wrap;

    @include breakpoint-down(sm) {
      margin-bottom: toRem(15) !important;
    }
  }

  .quick-links-area {
    border: toRem(1) solid lighten($color-grey-light, 8%);
    background: $color-white;
    padding: toRem(25);

    @include breakpoint-down(sm) {
      padding: toRem(18) toRem(15);
    }

    .title-row {
      @include font-height(15.5, 19);

      @include breakpoint-down(sm) {
        @include font-height(13.75, 19);
        margin-bottom: toRem(20) !important;
      }
    }

    .link-wrapper {
      @include flex-row-start-wrap;
    }
  }
}
