@import "styles/variables.scss";

.note-card-wrapper {
  padding: 0 1.725%;
  padding-bottom: toRem(12);
  break-inside: avoid;

  @include breakpoint-down(xl) {
    padding: 0 1.5%;
    padding-bottom: toRem(12);
  }

  @include breakpoint-down(lg) {
    padding-bottom: toRem(8);
  }

  @include breakpoint-custom-down(400) {
    padding: 0;
    padding-bottom: toRem(8);
  }

  .note-card {
    box-shadow: toRem(1) toRem(1) toRem(5) toRem(1) rgba($color-black, 0.1);
    @include transition(0.4s);
    position: relative;
    padding: toRem(10);
    padding-bottom: toRem(2);
    height: auto;

    @include breakpoint-down(lg) {
      padding: toRem(7.5);
      padding-bottom: toRem(2);
    }

    @include breakpoint-custom-down(400) {
      padding: toRem(10);
      padding-bottom: toRem(2);
    }

    .note-labels {
      @include flex-row-start-wrap;

      .label {
        padding: toRem(4.5) toRem(6.5);
        margin-right: toRem(5);
        font-size: toRem(12.5);
        color: $color-black;

        @include breakpoint-down(xl) {
          padding: toRem(4) toRem(6);
          font-size: toRem(11);
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }

    .note-title {
      @include font-height(15, 21);
      margin-bottom: toRem(6);

      @include breakpoint-down(xl) {
        @include font-height(13, 18);
      }

      @include breakpoint-down(lg) {
        @include font-height(12.75, 18);
      }

      @include breakpoint-down(sm) {
        @include font-height(13.75, 18);
        margin-bottom: toRem(10);
      }
    }

    .note-content {
      @include font-height(13.65, 22);
      @include line-clamp(6);
      overflow: hidden;

      @include breakpoint-down(xl) {
        @include font-height(12.75, 20);
      }

      @include breakpoint-down(lg) {
        @include font-height(12.5, 19);
      }

      @include breakpoint-custom-down(400) {
        @include font-height(11.75, 20);
      }
    }

    .bottom-info {
      border-top: toRem(1) solid rgba($color-ash-white, 0.5);
      @include flex-row-between-nowrap;
      padding: toRem(11) toRem(3);

      .note-date {
        font-size: toRem(12.75);

        @include breakpoint-down(xl) {
          font-size: toRem(11);
        }

        @include breakpoint-custom-down(400) {
          font-size: toRem(12);
        }
      }

      .wrapper {
        @include flex-row-end-nowrap;

        .action-box {
          box-shadow: toRem(1.75) toRem(1.75) toRem(6) rgba($color-black, 0.25);
          transition: all 0.35s ease-in-out;
          @include square-shape(30);
          padding: toRem(2.5);
          position: absolute;
          bottom: toRem(4.5);
          opacity: 0;

          .icon {
            font-size: toRem(16);
            @include center-placement;
          }

          &:hover {
            box-shadow: toRem(0.5) toRem(0.5) toRem(3) rgba($color-black, 0.25);
            transform: scale(0.97);
          }
        }

        .note-trash {
          background: lighten($color-red-light, 2%);
          right: toRem(3.5);

          .icon-trash {
            color: darken($color-red, 5%);
          }

          &:hover {
            background: lighten($color-red-light, 4%);
          }
        }

        .note-edit {
          background: lighten($color-green-light, 2%);
          right: toRem(37);

          .icon-show {
            color: darken($color-green, 5%);
          }

          &:hover {
            background: lighten($color-green-light, 4%);
          }
        }
      }
    }

    &:hover {
      box-shadow: toRem(1) toRem(1) toRem(4) rgba($color-black, 0.15);
      transform: scale(0.98);

      .action-box {
        opacity: 1 !important;
      }
    }
  }
}
