@import "styles/variables.scss";

.app-filter {
  width: 100%;

  .form-control {
    padding-left: toRem(15);
    min-height: toRem(56);

    @include breakpoint-down(lg) {
      min-height: toRem(52);
    }

    @include breakpoint-down(sm) {
      font-size: toRem(14);
      width: 100%;
    }
  }

  .icon {
    font-size: toRem(20) !important;
    @include center-y;
    right: toRem(12);

    @include breakpoint-down(lg) {
      font-size: toRem(17) !important;
    }

    @include breakpoint-down(sm) {
      font-size: toRem(17.5) !important;
    }
  }
}
