@import "styles/variables.scss";

.auth-layout {
  @include fixed-display-area;
  @include flex-row-between-nowrap;

  .left-layout {
    width: 55%;
  }

  .right-layout {
    background: $color-ash-white;
    width: 45%;
  }
}
