@import "styles/variables.scss";

.new-project {
  width: 100%;
  position: absolute;
  bottom: toRem(10);
  padding: 0 toRem(10);

  @include breakpoint-down(xl) {
    padding: 0 toRem(4);
  }

  @include breakpoint-down(lg) {
    padding: 0 toRem(6);
  }

  .wrapper {
    width: 100%;
    backdrop-filter: blur(5px);
    background-clip: border-box;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: toRem(20) toRem(20) toRem(50) rgba($color-black, 0.65);

    .bottom {
      @include flex-row-start-nowrap;
      @include transition(0.45s);
      padding: toRem(12);

      @include breakpoint-down(xl) {
        padding: toRem(10);
      }

      .add-btn {
        @include square-shape(34);
        background: darken($color-green, 6%);
        position: relative;

        @include breakpoint-down(xl) {
          @include square-shape(31);
        }

        .icon-plus {
          color: $color-brown-light;
          font-size: toRem(19);

          @include breakpoint-down(xl) {
            font-size: toRem(17.25);
          }
        }
      }

      .add-text {
        font-size: toRem(13.75);

        @include breakpoint-down(xl) {
          font-size: toRem(13.25);
        }

        @include breakpoint-down(lg) {
          font-size: toRem(12.75);
        }
      }

      &:hover {
        background: darken($color-green, 5%);
        transform: scale(0.97);
      }
    }
  }
}
